<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adobereader" />
  <package id="cmake" installargs="ADD_CMAKE_TO_PATH=System" />
  <package id="Cmder" />
  <package id="git" />
  <package id="GoogleChrome" />
  <package id="googlejapaneseinput" />
  <package id="itunes" />
  <package id="slack" />
  <package id="vscode" />
</packages>
