<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adobereader" />
  <package id="cmake" />
  <package id="Cmder" />
  <package id="git" />
  <package id="GoogleChrome" />
  <package id="googlejapaneseinput" />
  <package id="itunes" />
  <package id="slack" />
  <package id="vscode" />
</packages>
